/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.hidden {
  display: none;
}

button {
  width: 91px;
  height: 40px;
  opacity: 1;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border: none;
  color: #fff;
  cursor: pointer;
}

.load-more-btn {
  width: 125px;
  height: 40px;
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 20px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  opacity: 1;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.container {
  justify-content: center;
  text-align: center;
}

form {
  padding: 20px;
}

input {
  width: 272px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

input:hover {
  border-color: #808080;
}

input:focus {
  border-color: #4e75ff;
}

.iziToast {
  max-width: 400px;
  font-size: 16px;
  padding: 16px;
}

.card-info p {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
}
